.container {
  height: 100vh;
  width: 100vw;
  background: url("../assets/backgr.jpg") center;
  background-size: cover;
  text-align: center;
}

h1 {
  text-align: center;
}

.left {
  display: inline-block;
  margin: 0 2rem;
}
